/* HTML general body settings */

body {
	background-color: #b6d164;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	left: 4px;
	top: 5px;
}


/* Main container for upper screen.*/
.upperScreen {
	/* Container */
	background-color: papayawhip;
	border-radius: 15%;
}


/* Container for upperScreen contents.*/
.upperScreenContents{
	/* Container */
	background-color: #28cece;
	border: 3px dashed papayawhip;
	border-radius: 8%;
}


/* Top Heading settings.*/
.topHeading{
	/* Container */
	background: papayawhip;
	border: 2px dashed darkcyan;
	/* Text */
	font-size: 27px;
	color: darkcyan;
}


/* Top Subtitle settings.*/
.topSubtitle{
	/* Container */
	background: papayawhip;
	border: 2px dashed darkcyan;
	border-radius:10%;
	/* Text */
	color: darkcyan;
}


/* Lower screen settings.*/
.lowerScreen{
	/* Container */
	background-color: papayawhip;
	border: 4px dashed #28cece;
	border-radius: 10%;
}


.lowerScreenContents {
	height: 100%;
	width: 90%;
}


/* Lower Screen div link CSS. */
.lowerScreenContents a {
	/* Container */
	background-color: #28cece;
	border: 2px dashed papayawhip;
	border-radius: 5%;
	/* Text */
	color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenContents a:hover {
	/* Container */
	background-color: #777;
}


.mySlides{
	/* Container */
	border: 3px dashed gray;
}


#catalogueOptions a{
	border-radius: 10%;
}


#upperScreenRead{
	/* Container */
	background-color: #c0a883;
}


#textContainerRead{
	/* Container */
	background-color: #c0a883;
}


#themeSettings{
	background: #28cece;
}
