body {
    width: 500px;
    padding:50px;
    font-size: 16px;
    position: relative;
}

/* Main container for upper screen.*/
.upperScreen {
    /* Container */
    height: 213px;
    width: 400px;
    margin: auto;
    position: relative;
}




/* Container for upperScreen contents.*/
.upperScreenContents{
    /* Container */
    height: 80%;
    width: 90%;
    margin: auto;
    position: relative;
    top: 10%;

}

/* Container for upperScreen text.*/
.upperScreenText{
    /* Container */
    height: 140px;
    width: 300px;
    margin: auto;
    padding-top: 5px;
}


/* Top Heading settings.*/
.topHeading{
    /* Container */
    height: 90x;
    width: 290px;
    margin: auto;
    /* Text */
    font-size: 27px;
    text-align: center;
}


/* Top Subtitle settings.*/
.topSubtitle{
    /* Container */
    width: 190px;
    margin: auto;
    margin-top: 15px;
    padding: 3px;
    /* Text */
    font-size: 12px;
    text-align: center;
}


/* Top Screen's images container. */
.upperScreenImages{
    /* Container */
    margin: auto;
    bottom: 32%;
    position: relative;
}


/* Top screen lower left image. */
#indexPhotoL{
    /* Container */
    position: relative;
    height: 72px;
    width: 60px;
    left: 1%;
}


/* Top screen lower right image. */
#indexPhotoR{
    /* Container */
    position: relative;
    height: 72px;
    width: 60px;
    left: 64%;
}


/* Lower screen settings.*/
.lowerScreen{
    /* Container */
    height: 240px;
    width: 320px;
    margin: auto;
    position: relative;
}

.lowerScreenContents {
    border-radius: 10%;
    height: 200px;
    width: 280px;
    margin: auto;
    overflow-y: scroll;
    position: relative;
    top: 10px;
}

/* Lower Screen div link CSS. */
.lowerScreenContents a {
    /* Container */
    width: 220px;
    display: block;
    margin: 4px auto;
    /* Text */
    font-size: 30px;
    text-align: center;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenContents a:hover {
    /* Container */
    background-color: #777;
}

.lowerScreenFeedback{

    /* Container */
    height: 200px;
    width: 300px;
    margin: 5px auto;
    overflow-y: scroll;
}


#lowerScreenGallery{
    /* Container */
    height: 210px;
    width: 290px;
    margin: 5px auto;
    overflow-y: scroll;
}


.mySlides{
    /* Container */
    top: 12px;
    left: 6px;
    position: relative;
    width: 125px;
    height: 60px;
}

#catalogueOptions a{
    border-radius: 10%;
    font-size: 16px;
}

#upperScreenRead{
    /* Container */
    height: 450px;
    width: 394px;
}

#galleryImages {
    margin: 20px auto;
    position: static;
    text-align: center;
}


#galleryImage{
    /* Container */
    width: 300px;
    height: 150px;
    position: relative;
    top: -10px;
}


#textContainerRead{
    /* Container */
    height: 400px;
    width: 294px;
    margin: 2px auto;
    overflow-y: scroll;
    padding: 10px;
    top: 5px;
    position: relative;
}


#themeSettings{
    margin: 10px auto;
    text-align: center;
    width: 260px;
    height: 175px;
    position: relative;
    overflow-y: scroll;
}


#themeSettings button{
    width: 180px;
    margin:5px auto;
}


#fontSettings{
    position: relative;
    margin:5px auto;
}


#fontSettings button{
    /* Container */
    width: 80px;
}


#feedbackForm{
    /* Container */
    margin: 5px 7px auto;
}


#feedbackFormName{
    /* Container */
    height: 30px;
    width: 280px;
    margin-bottom: 3px;
    padding: 2px;
}


#feedbackFormEmail{
    /* Container */
    height: 30px;
    width: 280px;
    margin-bottom: 3px;
    padding: 2px;
}


#feedbackFormMessage{
    /* Container */
    height: 80px;
    width: 280px;
    margin: auto;
    padding: 2px;
}


#feedbackFormButton{
    /* Container */
    margin: 5px auto;
    margin-left: 115px;
}


#pageindex{
    /* Container */
    background-color: inherit;
    width: 40px;
    height: 15px;
    border-radius: 9%;
    position: relative;
    left: 43%;
    top: 2px;
}


#viewToggle{
    background: inherit;
    position: relative;
}




