/* HTML general body settings */
html{
  background-color: #723824;

}

body {
  background-color: #84712c;
  border: 4px dashed #dca165;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {

  /* Container */
  background-color: #dca165;
  border-radius: 15%;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

  /* Container */
  background-color: #513985;
  border: 3px dashed #d88543;
  border-radius: 8%;
}


/* Top Heading settings.*/
.topHeading{

  /* Container */
  background: #723824;
  border: 3px dashed #dca165;
  border-radius: 14%;

  /* Text */
  color: #dca165;

}

/* Top Subtitle settings.*/
.topSubtitle{

  /* Container */
  background: #723824;
  border: 2px dashed #dca165;
  border-radius:10%;
  /* Text */
  color: #dca165;
}


/* Top screen lower left image. */
#indexPhotoL{

  /* Container */
  background: #84712c;
  border-radius: 32%;
}

/* Top screen lower right image. */
#indexPhotoR{

  /* Container */
  background: #84712c;
  border-radius: 32%;
}

/* Lower screen settings.*/
.lowerScreen{

  /* Container */
  border: 4px dashed #dca165;
  border-radius: 10%;
}


.lowerScreenContents {
  background-color: #dca165;
  border: 4px dashed #dca165;
  border-radius: 10%;
}


/* Lower Screen div link CSS. */
.lowerScreenContents a {
  /* Container */
  background-color: #513985;
  border: 2px dashed #dca165;
  border-radius: 20%;
  /* Text */
  color: white;
}

.mySlides{
  /* Container */
  border: 3px dashed gray;
}

#catalogueOptions a{
  border-radius: 10%;
}


#upperScreenRead{

/* Container */
background-color: #c0a883;

}

#textContainerRead{
  /* Container */
  background-color: #c0a883;
}


#themeSettings{
  border-radius: 4%;
  background: #513985;
}


#themeSettings button{
  background:#723824;
  color: #dca165;
}

#pageindex{
  background-color: inherit;
  border-radius: 9%;
}
