/* HTML general body settings */
body {
	/* Container */
	background-color: black;
	/* Text */
	font-family: monospace;
	font-size: 16px;
	left: 4px;
}

/* Main container for upper screen.*/
.upperScreen {
	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
}


/* Container for upperScreen contents.*/
.upperScreenContents{
	/* Container */
	background-image: inherit;
	background-size: 300%;
	border: 1px dashed white;
	border-radius: 8%;
}

/* Container for upperScreen text.*/
.upperScreenText{
	/* Container */
	border-radius:8%;
}


/* Top Heading settings.*/
.topHeading{
	/* Container */
	background: black;
	border: 2px solid white;
	color: white;
}


/* Top Subtitle settings.*/
.topSubtitle{
	/* Container */
	background: black;
	/* Text */
	color: white;
}


/* Top screen lower left image. */
#indexPhotoL{
	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
}


/* Top screen lower right image. */
#indexPhotoR{
	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
}


/* Lower screen settings.*/
.lowerScreen{
	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
}


.lowerScreenContents{
	/* Container */
	border: 1px dashed white;
	border-radius: 10%;
}


/* Lower Screen div link CSS. */
.lowerScreenContents a {
	/* Container */
	background-color: #333232;
	display: block;
	color: white;
}

#textContainerRead{
	/* Container */
	background: papayawhip;
}


#pageindex{
	background-color: inherit;
	border-radius: 9%;
}
